.navbar{
    height: 60px;
    width: 100vw;
    
    background-color: whitesmoke;
    display: flex;
    
}

.nav-item-div{
    height: 100%;
    width: 100px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item-div:hover{
    background-color: lightcoral;
}

.nav-item{
    font-size: 18px;
    display: flex;

}