.form-container{
    height: 9vh;
    width: 70vw;
    margin-top: 15px;
    margin-bottom: 15px;
   
    
    
}

.form-div{
    height: 100%;
    width: 100%;
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4D869C;
    border-radius: 5px;
}

#add-btn{
    height: 40%;
    width: 5%;
    background-color: #3C5B6F;
    color: #3e0404;
    border-radius: 5px;
}