#book-container{
    height: 10vh;
    width: 70vw;
    background-color: #4D869C;
    border: 2px solid rgb(37, 78, 78);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
   
}

.book-data {
    padding: 5px;    
    border: 2px solid rgb(37, 78, 78);
    background-color: #3d616f;
    border-radius: 5px;
    height: 60%;

    display: flex;
    align-items: center;
    padding-left: 10px;
}

#container-data1 {
    width: 4%;
}

#container-data2 {
    width: 25%;
}

#container-data3 {
    width: 20%;
}

#container-data4 {
    width: 8%;
}

.btn{
    height: 40%;
    width: 7%; 
    color: black;
}

#remove-btn{
    background-color: #3C5B6F;
    color: #3e0404;
    border-radius: 5px;
}

#update-btn{
    background-color: #395B64;
    color: #3e0404;
    border-radius: 5px;
}


.input-data {
    padding: 5px;    
    border: 2px solid black;
    height: 60%;
    background-color: #395B64;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#input-data1{
    width: 4%;
}

#input-data2 {
    width: 25%;
}

#input-data3 {
    width: 20%;
}

#input-data4 {
    width: 8%;
}