.navbar {
    height: 10vh;
    background-color: #4D869C!important;
    margin-top: 20px;
    width: 80vw;
    border-radius: 20px;
}

.navbar .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    
}

.container-fluid .navbar-brand {
    color: whitesmoke;
    width: 100%;
    margin-right: 55%;

}

.navbar .navbar-nav .nav-link {
    color: whitesmoke;
    font-size: 20px;
}
.navbar .navbar-nav .nav-item {
    margin-right: 30px; /* Increase the right margin to create space between navbar items */
}

