.outer-container{
    width: 100vw;
    height: 50vh;
     background-color: #FF9671;
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .inner-container{
    width: 7vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFC75F;
    border-radius: 10px;
    border-color: black;
  }