.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
    background-color: #FF6F91;
    width: 100vw;
    height: 10vh;
    border-radius: 5px solid black;
}